body {
  background: linear-gradient(45deg, gold, red, navy);
  animation: background 2s infinite alternate;
  font-family: sans-serif;
}

header {
  background: linear-gradient(45deg, black, white);
  animation: background 2s infinite alternate;
  border: 5px solid white;
  border-radius: 10px;
  background-size: 200% 200%;
  margin-bottom: 30px
  
}

main {
  border: 5px solid red;
  border-radius: 10px;
  margin-top: 40px
  background: white;
  background: white;
}

h1:first-child {
  text-align: center;
  font-family: sans-serif;
  color: white;
  
}

h1:first-child:hover {
  transform: rotate(0.5turn);
  transition: 2s;  
}




@keyframes background {
  100% {
    background-position: 0 200px;
  }
}
