.WI {
  display:flex;
  flex-wrap: wrap;
}

a {
  text-decoration:none;
  font-size:20px;
  text-align:center;
  margin:10px;
}

a:hover {
  color:black;
  text-decoration:underline;
  font-family:Lucida Console;
}

a:active {
  color:green;
  text-decoration:overline black;
}

header h1 {
  box-shadow: 10px 5px 5px black,  -1em 0 .4em olive;
  text-align: center;
 }

main h2 {
  font-size:30px;
  text-align: center;
  color:royalblue;
  text-align: rigth;
}  

main {
  background: #EAC39E;
}

.g {
    border: 10px ridge #f00;
    background-color: #ff7A00;
    text-align: center;
    border-radius: 50px;
    width: 300px;
}

.D {
    border: 10px ridge #f00;
    background-color: white;
    text-align: center;
    border-radius: 50px;
    width: 350px;
}


img {
  border-radius: 50px;
box-shadow: 10px 5px 5px black;
}

div {
    margin: 10px;
}

img {
    opacity: 0.5;

}

img:hover {
    opacity: 1;
    
}

