.login a:hover p {
  display:block;
}

.WI {
  display:flex;
  flex-wrap: wrap;
}

a {
  text-decoration:none;
  font-size:20px;
  text-align:center;
  margin:10px;
}

a:hover {
  color:black;
  text-decoration:underline;
  font-family:Lucida Console;
}

a:active {
  color:green;
  text-decoration:overline black;
}

header h1 {
  box-shadow: 10px 5px 5px black,  -1em 0 .4em olive;
  text-align: center;
 }

main h2 {
  font-size:30px;
  text-align: center;
  color:royalblue;

}  

main {
  background: #EAC39E;
}

.g {
    border: 10px ridge #f00;
    background-color: #ff7A00;
    text-align: center;
    border-radius: 50px;
    width: 300px;
}

.D {
    border: 10px ridge #f00;
    background-color: white;
    text-align: center;
    border-radius: 50px;
    width: 350px;
}


img {
  border-radius: 50px;
  box-shadow: 10px 5px 5px black;
  opacity: 0.7;

}

div {
    margin: 10px;
}


img:hover {
  opacity: 1;
}

ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 25px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
    text-align: center;
   }

.add {

  border:5px solid blue;
  text-shadow: 1px 1px 2px red, 0 0 2em blue, 0 0 0.2em blue;
  float: right;
  height: 100px;
  display: block;
  position: fixed;
  left: 950px;
}

.ot {
  color: red;
  font-size: 30px;
}
